<?xml version="1.0" encoding="UTF-8"?>
<beans>

  <bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
    <property name="jndiName">
      <value>java:comp/env/jdbc/beangle</value>
    </property>
  </bean>

  <bean id="sessionDataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
    <property name="jndiName">
      <value>java:comp/env/jdbc/beangle</value>
    </property>
  </bean>
  
  <bean id="recaptchaProvider" class="org.beangle.struts2.captcha.service.CaptchaProvider" primary="true">
    <property name="publickey" value="6LcAY9cSAAAAADLHUtPR0Vo1bXTA90fXH8KmnneU"/>
    <property name="privatekey" value="6LcAY9cSAAAAANedWHNl8NUHyS3ZfJhYf-9Vd6b9"/>
  </bean>
  
</beans>
