<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee  
     http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0" metadata-complete="true">

    <absolute-ordering/>

    <context-param>
        <param-name>templatePath</param-name>
        <param-value>webapp://pages,class://</param-value>
    </context-param>

    <!--设置字符集-->
    <filter>
        <filter-name>characterEncoding</filter-name>
        <filter-class>org.beangle.commons.web.filter.CharacterEncodingFilter</filter-class>
    </filter>

    <filter>
        <filter-name>accessMonitorFilter</filter-name>
        <filter-class>org.beangle.commons.web.filter.DelegatingFilterProxy</filter-class>
    </filter>

    <!--首先打开hibernate Session-->
    <filter>
        <filter-name>OpenSessionInViewFilter</filter-name>
        <filter-class>org.beangle.orm.hibernate.OpenSessionInViewFilter</filter-class>
    </filter>

    <filter>
        <filter-name>securityFilterChain</filter-name>
        <filter-class>org.beangle.commons.web.filter.DelegatingFilterProxy</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>characterEncoding</filter-name>
        <url-pattern>*.action</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>accessMonitorFilter</filter-name>
        <url-pattern>*.action</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>OpenSessionInViewFilter</filter-name>
        <url-pattern>*.action</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>securityFilterChain</filter-name>
        <url-pattern>*.action</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>org.beangle.commons.web.session.HttpSessionEventPublisher</listener-class>
    </listener>

    <listener>
        <listener-class>org.beangle.inject.spring.web.ContextListener</listener-class>
    </listener>

    <servlet>
         <servlet-name>Action</servlet-name>
         <servlet-class>org.beangle.struts2.dispatcher.ActionServlet</servlet-class>
    </servlet>

    <servlet>
         <servlet-name>StaticResource</servlet-name>
         <servlet-class>org.beangle.commons.web.resource.StaticResourceServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Action</servlet-name>
        <url-pattern>*.action</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>StaticResource</servlet-name>
        <url-pattern>/static/*</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <error-page>
        <error-code>404</error-code>
        <location>/404.html</location>
    </error-page>
</web-app>
