<?xml version="1.0" encoding="UTF-8"?>
<beans>
	<bean id="hibernateConfig">
		<property name="properties">
			<props merge="true">
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
	</bean>
	<bean id="dataSource">
		<property name="url" value="jdbc:h2:tcp://localhost/~/eams/core/platform/eams-platform-doc/src/main/db/eams"/>
	</bean>
	<!--
	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName">
			<value>java:comp/env/jdbc/beangle</value>
		</property>
	</bean>
	-->
	
</beans>
